
# Ignore everything
*

# But not these files...
!.gitignore
!main.py
!README.md
!requirements.txt
!load_data.py
!movie_embeddings.json
!.replit

# And not this directory and its contents
!public/
!public/*
