
# Ignore everything
*

# But not these files...
!.gitignore
!main.py
!README.md
!load_data.py
!movie_embeddings.json
!.replit
!pyproject.toml

# And not this directory and its contents
!public/
!public/*
