entrypoint = "main.py"
modules = ["python-3.11"]

[env]
REPLIT_DISABLE_PACKAGE_LAYER = "1"

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5001
externalPort = 80