modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5001
externalPort = 80

[workflows]
runButton = "Start"

[[workflows.workflow]]
name = "Start"
mode = "sequential"
author = 14050015

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 main.py"
