matplotlib
ipython
llama-index-core
llama-index-embeddings-voyageai
llama-index-vector-stores-mongodb
llama-index-llms-openai
llama-index-postprocessor-voyageai-rerank
trafilatura
gpt-index
llama-index-core
pymongo
python-fasthtml