llama-index
llama-index-core
llama-index-embeddings-voyageai
llama-index-vector-stores-mongodb
llama-index-llms-openai
llama-index-postprocessor-voyageai-rerank
pymongo
python-fasthtml
MonsterUI
gpt-index